#logo-mountain {
  stroke-dasharray: 180;
  stroke-dashoffset: 180;

  animation-name: dash-mountain;
  animation-duration: 2000ms;
  animation-timing-function: ease-in-out;
  animation-delay: 1000ms;
  animation-fill-mode: forwards;
}

#logo-slope {
  stroke-dasharray: 100;
  stroke-dashoffset: 100;

  animation-name: dash-mountain;
  animation-duration: 1000ms;
  animation-timing-function: ease-out;
  animation-delay: 2000ms;
  animation-fill-mode: forwards;
}

#logo-plus-horizontal {
  stroke-dasharray: 24;
  stroke-dashoffset: 24;

  animation-name: dash-plus;
  animation-duration: 300ms;
  animation-timing-function: ease-in-out;
  animation-delay: 2900ms;
  animation-fill-mode: forwards;
}

#logo-plus-vertical {
  stroke-dasharray: 24;
  stroke-dashoffset: 24;

  animation-name: dash-plus;
  animation-duration: 300ms;
  animation-timing-function: ease-in-out;
  animation-delay: 3050ms;
  animation-fill-mode: forwards;
}

@keyframes dash-mountain {
  to {
    stroke-dashoffset: 0;
  }
}

@keyframes dash-slope {
  to {
    stroke-dashoffset: 0;
  }
}

@keyframes dash-plus {
  to {
    stroke-dashoffset: 0;
  }
}
