#logo-mountain {
  stroke-dasharray: 180;
  stroke-dashoffset: 180;

  animation-name: dash-mountain;
  animation-duration: 1000ms;
  animation-timing-function: ease-in-out;
  animation-delay: 500ms;
  animation-fill-mode: forwards;
}

#logo-slope {
  stroke-dasharray: 100;
  stroke-dashoffset: 100;

  animation-name: dash-mountain;
  animation-duration: 500ms;
  animation-timing-function: ease-out;
  animation-delay: 1000ms;
  animation-fill-mode: forwards;
}

@keyframes dash-mountain {
  to {
    stroke-dashoffset: 0;
  }
}

@keyframes dash-slope {
  to {
    stroke-dashoffset: 0;
  }
}
