.sidebar-opacity-transition {
  transition: opacity 300ms ease-in-out;
}

.sidebar-width-transition {
  transition: width 300ms ease-in-out;
}

.sidebar-background-color-transition {
  transition: background-color 90ms ease-in-out;
}
