@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0px;
}

* {
  @apply font-sans;
}

:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

.default-overlay {
  @apply bg-white;
  @apply rounded-lg;
  @apply border-gray-100;
  @apply shadow-lg;
}
