/* .maplibregl-ctrl-icon, .mapboxgl-ctrl-icon { */
.maplibregl-ctrl,
.maplibregl-ctrl-group,
.mapboxgl-ctrl,
.mapboxgl-ctrl-group {
  @apply bg-white;
  @apply text-gray-700;

  /* CSS can't nest attributes */
  @media (prefers-color-scheme: dark) {
    /* @apply bg-gray-800; */
    --tw-bg-opacity: 1;
    background-color: rgb(31 41 55 / var(--tw-bg-opacity)) !important;

    /* @apply text-gray-300; */
    --tw-text-opacity: 1;
    color: rgb(209 213 219 / var(--tw-text-opacity)) !important;
  }
}

/* Bottom Right Control Group */
.maplibregl-ctrl-bottom-right {
  display: flex;
  flex-direction: row-reverse;
  padding: 0px 36px 36px 0px;
  gap: 24px;
}

/* All Bottom Right Controls */
.maplibregl-ctrl-bottom-right > div {
  margin: auto 0px 0px 0px !important;
}

/* Zoom Buttons Container */
.maplibregl-ctrl-bottom-right > .maplibregl-ctrl-group {
  @apply !shadow-lg;
  @apply !border-gray-100;
}

/* Attribution */
.maplibregl-ctrl-attrib {
  margin-top: auto !important;
  /* @apply rounded-sm !important; */
}

/* Attribution text */
.maplibregl-ctrl-attrib-inner {
  @apply !font-sans;
  @apply !text-xs;
  @apply !font-normal;
  /* @apply !text-gray-700 !important; */

  @apply !py-0.5;
}

/* Attribution text */
.maplibregl-ctrl-attrib-inner > * {
  @apply !font-sans;
  @apply !text-xs;
  @apply !font-normal;
  /* @apply text-gray-700 !important; */
}

/* Distance Scale */
.maplibregl-ctrl-scale {
  background-color: transparent !important;
  text-align: center;
  @apply !border-gray-500;
  /* @apply text-gray-500 !important; */
  @apply !text-xs;
}

/* Zoom Control Buttons and Compass */
.maplibregl-ctrl-zoom-in,
.maplibregl-ctrl-zoom-out,
.maplibregl-ctrl-compass {
  width: 40px !important;
  height: 40px !important;
}

/* Zoom Out Button and Compass */
.maplibregl-ctrl-zoom-out,
.maplibregl-ctrl-compass {
  @apply border-t-gray-100 !important;

  /* Note: nesting of attributes not supported */
  @media (prefers-color-scheme: dark) {
    /* @apply !border-t-gray-600; */
    --tw-border-opacity: 1 !important;
    border-top-color: rgb(75 85 99 / var(--tw-border-opacity)) !important;
  }
}

/* Zoom In Control Icon */
.maplibregl-ctrl-zoom-in > .maplibregl-ctrl-icon {
  /* TODO this image will need to be updated with a dark mode version */
  padding: 8px;
  background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M12 4.5V19.5M19.5 12L4.5 12' stroke='%236B7280' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E") !important;

  @media (prefers-color-scheme: dark) {
    background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M12 4.5V19.5M19.5 12L4.5 12' stroke='%239CA3AF' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E") !important;
  }
}

/* Zoom Out Control Icon */
.maplibregl-ctrl-zoom-out > .maplibregl-ctrl-icon {
  /* TODO this image will need to be updated with a dark mode version */
  padding: 8px;
  background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M5 12H19' stroke='%236B7280' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E") !important;

  @media (prefers-color-scheme: dark) {
    background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M5 12H19' stroke='%239CA3AF' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E") !important;
  }
}

/* Attribution text */
.maplibregl-ctrl-attrib-inner,
.mapboxgl-ctrl-attrib-inner,
.maplibregl-ctrl-attrib-inner > a,
.mapboxgl-ctrl-attrib-inner > a {
  @apply !text-gray-700;

  @media (prefers-color-scheme: dark) {
    /* @apply !text-gray-300; */
    --tw-text-opacity: 1 !important;
    color: rgb(209 213 219 / var(--tw-text-opacity)) !important;
  }
}

#deckgl-overlay {
  z-index: 10;
}