.Settings-popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;

  background-color: rgba(1, 1, 1, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}
.Settings-inner {
  /* Sets position, size of box*/
  position: relative;
  top: -3vh;
  left: 0;

  width: 50vw;
  height: 80vh;

  /* Rounds box */
  border-radius: 3vh;

  /* Makes box color same as Tailwind */
  background-color: #f2efe9;
  border-color: #d1d5db;
  border-style: solid;
  border-width: 3px;
}
.Settings-inner .Settings-text {
  position: absolute;
  top: 3vh;
  left: 40vh;
  justify-content: center;
}
.Settings-inner .Option1 {
  position: absolute;
  top: 10vh;
  left: -15vw;
  justify-content: center;
}

.Settings-inner .Option2 {
  position: absolute;
  top: 30vh;
  left: -15vw;
  justify-content: center;
}

.Settings-inner .Option3 {
  position: absolute;
  top: 50vh;
  left: -15vw;
  justify-content: center;
}

.Settings-inner .Close-button {
  position: absolute;
  top: 3vh;
  left: 46vw;
}
